{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'smart/images/favicon.ico' type="image/x-icon" %}"/>
    <link rel="stylesheet" href="{% static 'smart/css/swiper-bundle.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'smart/css/styles.css' %}"/>
</head>
<body>
<style>
   body {
    background-image: url("{% static 'smart/images/bg.jpg' %}"); /* Путь к фоновому изображению */

   }
</style>
<div class="all_content_wrapper">

{% block content %}

{% endblock content %}
</div>
<script type="text/javascript" src='{% static  "smart/js/swiper-bundle.js" %}'></script>
<script type="text/javascript" src='{% static  "smart/js/main.js" %}'></script>

</body>
</html>